.*zwc
.env
.netrwhist
.*netrwhist
*~
tags
[._]*.un~
*.zwc
*.zwc.old
zsdoc/data
.venv
*.orig
.vim/.viminfo
.vim/spell/local.utf-8.add.spl
.vim/*-bookmarks
.vim/bundles/*
**.zinit/plugins
**.zinit/completions
**.zinit/polaris
**.zinit/snippets
**.zinit/bin/zmodules/Src/zdharma/zplugin.so
