[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	ignore = dirty
	branch = master
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle
	ignore = dirty
	branch = master
[submodule ".zinit/bin"]
	path = .zinit/bin
	url = https://github.com/zdharma/zinit.git
	ignore = dirty
	branch = master
[submodule "zsh_custom/3party/z"]
	path = zsh_custom/3party/z
	url = https://github.com/rupa/z
	ignore = dirty
	branch = master
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule ".vim/bundle/matchit.zip"]
	path = .vim/bundle/matchit.zip
	url = https://github.com/vim-scripts/matchit.zip.git
