[credential]
    helper = !aws codecommit credential-helper $@
    UseHttpPath = true
[user]
    name = Ricardo Reis
    email = ricardo.areis@gmail.com
[core]
    pager = less
    editor = vim
    excludesfile = ~/repos/dotfiles/.gitignore_global
    pager = delta --theme=ansi-dark
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch -vv
    sl = log --graph --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --abbrev-commit --decorate --date=short
    up = pull --rebase
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[push]
    default = simple
[diff]
    tool = vimdiff
