autoflake>=1.4
awscli>=1.18.84
bandit>=1.7.0
black>=19.10b0
docker-compose>=1.27.4
flake8-bandit>=2.1.2
flake8-broken-line>=0.2.0
flake8-bugbear>=19.8.0
flake8-commas>=2.0.0
flake8-comprehensions>=3.2.3
flake8-debugger>=3.2.1
flake8-docstrings>=1.5.0
flake8-eradicate>=0.3.0
flake8-isort>=2.9.1
flake8-polyfill>=1.0.2
flake8-quotes>=2.1.2
flake8-rst-docstrings>=0.0.12
flake8-string-format>=0.2.3
flake8>=3.8.3
gitlint>=0.13.1
ipython>=7.15.0
jsonlint>=0.1
pep8-naming>=0.9.1
powerline-status>=2.7
pylint>=2.5.3
reorder-python-imports>=2.3.1
vim-vint>=0.3.21
yamllint>=1.25.0
pip>=22.1.2
